



{% extends "root/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="formcontainer">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Create Folder</h2>
    </div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        {{ folderform.as_p }}

        <div class="text-center">
          <button class="btn btn-primary" type="submit">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}

